extends ../_partials/layout

block vars
    - var title='Styleguide'

block extra_styles
    style.
        body{
            background: #f5f5f5;
        }
        .formGroup{
            background: #fff;
            box-shadow: 0 3px 5px 0 rgba(0,0,0, .1);
            border-radius: 4px;
            padding: 20px;
        }

block content

    .section
        .vsection
            .formGroup
                h1 Header 1
                h2 Header 2
                h3 Header 3


            .formGroup
                p Paragraph


            .formGroup
                .aligner
                    div Aligner

                    .aligner__right .aligner__right


            .formGroup
                h2.formItem Badges
                .aligner
                    .formItemInline
                        .badge .badge

                    .formItemInline
                        .badge.badge_green .badge.badge_green

                    .formItemInline
                        .badge.badge_red .badge.badge_red


            .formGroup
                h2.formItem Buttons
                .formItem
                    .formItemInline
                        .btn .btn

                    .formItemInline
                        .btn.btn_red .btn.btn_red

                    .formItemInline
                        .btn.btn_transparent .btn.btn_transparent

                    .formItemInline
                        .btn.btn_transparentRed .btn.btn_transparentRed

                    .formItemInline
                        .btn._disabled .btn._disabled

                div
                    .btn.btn.btn_block .btn.btn_block


            .formGroup
                h2.formItem Buttons Group

                .formItem
                    .btnGroup
                        .btnGroup__item Button 1
                        .btnGroup__item._active Button 2
                        .btnGroup__item Button 3

                .btnGroup.btnGroup_block
                    .btnGroup__item Button 1
                    .btnGroup__item._active Button 2
                    .btnGroup__item Button 3


            .formGroup
                h2.formItem Checkbox & Radio

                .formItem
                    +checkbox('checkbox')

                .formItem
                    +checkbox('checkbox slider', 'checkbox_slider')

                div
                    +radio('radio')


            .formGroup
                h2.formItem Flex

                .flex(style="height: 300px;")
                    .flex__bar .flex__bar

                    .flex__scroll
                        each val in [1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1]
                            div .flex__scroll


            .formGroup
                h2.formItem Form Slider

                .formSlider
                    .formSlider__line
                        .formSlider__pin(style="left: 40%;")

                    .formSlider__label.formSlider__label_first(style="left: 0%;") 0
                    .formSlider__label(style="left: 50%;") 50
                    .formSlider__label.formSlider__label_last(style="left: 100%;") 100


            .formGroup
                h2.formItem Grid

                div Grid from <a target="_blank" href="http://getbootstrap.com/docs/3.3/css/#grid">bootsrap 3</a>


            .formGroup
                h2.formItem hr

                .hr


            .formGroup
                h2.formItem Icons

                .formItem
                    +icon("icon_cornerDown")

                h1.formItem.textRed
                    +icon("icon_cornerDown")

                h2.textGreen
                    +icon("icon_cornerDown")


            .formGroup
                h2.formItem Input & Textarea

                .formItem
                    .formLabel .formLabel
                    input.input(placeholder=".input")
                    .formDescr .formDescr

                .formItem
                    input.input._disabled(placeholder=".input._disabled", disabled)

                .formItem
                    input.input._error(placeholder=".input._error")

                textarea.textarea(placeholder=".textarea")


            .formGroup
                h2.formItem Input & Textarea

                .formItem
                    .formLabel .formLabel
                    input.input(placeholder=".input")
                    .formDescr .formDescr

                .formItem
                    input.input._disabled(placeholder=".input._disabled", disabled)

                .formItem
                    input.input._error(placeholder=".input._error")

                textarea.textarea(placeholder=".textarea")


            .formGroup
                h2.formItem List

                .list
                    .list__item .list__item
                    .list__item .list__item
                    .list__item .list__item
                    .list__item .list__item


            .formGroup
                h2.formItem Popover

                div(style="height: 80px;")
                    .popover
                        .popover__close x
                        .popover__content popover content


            .formGroup
                h2.formItem Table

                table.table.table_hover
                    tr
                        th Table header
                        th Table header

                    tr
                        td Table cell
                        td Table cell

                    tr
                        td Table cell
                        td Table cell

                    tr
                        td Table cell
                        td Table cell


            .formGroup
                h2.formItem Tabs

                .tabs
                    .tabs__item Tab Item
                    .tabs__item._active Tab Item
                    .tabs__item Tab Item


            .formGroup
                h2.formItem Tooltip

                div(style="height: 40px;")
                    .tooltip._show Tooltip
