// Colors
$cBlack = #000
$cWhite = #fff
$cGreen = #8AC942
$cRed = #FA6464
$cGrey = #999

// media queries
$xs = '(max-width: 767px)'
$sm = '(min-width: 768px) and (max-width: 991px)'
$md = '(min-width: 992px) and (max-width: 1599px)'
$lg = '(min-width: 1600px)'
