mixin checkbox(checkboxLabel, extraClass)
    label.checkbox(class=extraClass)
        input.checkbox__input(type="checkbox")
        .checkbox__label
            if !!checkboxLabel
                .checkbox__labelText !{checkboxLabel}

