.formItem
    display block
    margin-bottom 16px
    position relative

    &_xxs
        margin-bottom 4px

    &_xs
        margin-bottom 8px

    &_sm
        margin-bottom 12px

    &_lg
        margin-bottom 20px



.formGroup
    margin-bottom 30px



.formItemInline
    display inline-block
    margin-right 16px
    position relative

    &_xxs
        margin-right 4px

    &_xs
        margin-right 8px

    &_sm
        margin-right 12px

    &_lg
        margin-right 20px



.formDescr
    line-height 16px
    padding-top 8px



.formLabel
    align-items center
    color rgba($cBlack, .6)
    display flex
    font-size 11px
    font-weight 500
    line-height 16px
    margin-bottom 4px
    min-height 16px
    text-transform uppercase

    &_inline
        display inline-block
        margin-bottom 0
        margin-right 20px
        vertical-align baseline

    &_noMargin
        margin 0



.formInputWithIcon
    display block
    position relative

    &__icon
        color $cGrey
        cursor pointer
        font-size 16px
        position absolute
        right 12px
        top 50%
        transform translateY(-50%)
        z-index: 1


        // &_left
        //     left 6px
        //     right auto

        //     & ~ .input
        //         padding-left 30px

        // &:not(&_left) ~ .input
        //     padding-right 30px



// .formHorizontal
//     display flex

//     &__label
//         padding-top 6px
//         margin-right 20px
//         flex 0 0 auto
//         width 80px

//         & + .form-horizontal__descr
//            margin-left 0

//     &__control
//         flex 1 0 0

//     &__descr
//         padding-top 6px
//         margin-left 10px

