html

    block vars

    head
        title #{title}

        include ../../_partials/styles
        block extra_styles

    body

        block content

        include ../../_partials/scripts
        block extra_scripts

