.list
    &__item
        position relative
        padding-left 1.5em
        line-height 22px

        &:before
            content '—'
            position absolute
            top 0
            left 0

        & + &
            margin-top 2px


