.flex
    display flex
    flex-direction column
    overflow auto
    -webkit-overflow-scrolling touch

    &_horizontal
        flex-direction row

    &__bar
        flex none
        position relative

    &__scroll
        overflow auto
        -webkit-overflow-scrolling touch
        flex auto
        position relative

