include mixins/icon
include mixins/checkbox
include mixins/radio

html

    block vars

    head
        title #{title}

        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")

        include ../../_partials/styles
        block extra_styles

    body

        block content

        include ../../_partials/scripts
        block extra_scripts

