.icon
    display inline-block
    fill currentColor
    height 1em
    line-height 1em
    position relative
    vertical-align middle
    width 1em
    flex none

    &_valign
        top -1px

    &_lg
        font-size 24px





