html

    block vars

    head
        title #{title}

        include styles
        block extra_styles

    body&attributes(bodyAttributes)
        block content

        include scripts
        block extra_scripts

