.aligner
    display flex
    align-items center

    &__left
        flex 0 0 auto

    &__right
        margin-left auto
        padding-left 10px
        flex 0 1 auto
        min-width 0

    &_top
        align-items flex-start

    &_baseline
        align-items baseline

