html

    block vars

    head
        title #{title}

        if env == 'production'
            link(rel="stylesheet", href="/main.css")

    body
        include header

        block content

        script(src="/vendor.js")
        script(src="/main.js")
